* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 80px;
    
    width: 120%;
    margin: 0 auto 0 auto;
    padding:10px;
    background-color: rgb(5, 68, 104);
    position: relative;
  }